@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.prose {
  max-width: 65ch;
  color: rgb(var(--foreground-rgb));
}

.prose a {
  color: #0284c7;
  text-decoration: underline;
}

.prose strong {
  font-weight: 600;
}

.prose h1, .prose h2, .prose h3, .prose h4 {
  color: rgb(var(--foreground-rgb));
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose p, .prose ul, .prose ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose ul, .prose ol {
  padding-left: 1.5em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}